.header-title {
  display: block;
}

.header-title.left {
  display: inline-block;
  float: left;
  font-family: Verdana, Geneva, sans-serif;
}

.header-title.right {
  display: inline-block;
  float: right;
  font-family: Verdana, Geneva, sans-serif;
  color: #414b56;
  font-size: 12px;
  text-transform: uppercase;
}

.header-title.sub {
  display: block;
  margin-bottom: 10px;
  font-family: Verdana, Geneva, sans-serif;
  color: #414b56;
  font-size: 12px;
  text-align: right;
  text-transform: uppercase;
}

.header-section.top {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #858484;
  text-align: center;
}

.titling.blue {
  font-family: Georgia, Times, 'Times New Roman', serif;
  color: #00a4e4;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: uppercase;
}

.titling.blue:hover {
  font-weight: 400;
}

.titling.blue.large {
  margin-top: 20px;
  margin-bottom: 0px;
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-size: 23px;
  text-transform: none;
}

.titling.blue.large.bannered {
  display: inline-block;
  margin-top: 0px;
  padding-top: 0px;
}

.titling.blue.large.no-top-pad {
  margin-top: 0px;
}

.titling.blue.large.calendar {
  margin-bottom: 20px;
}

.titling.blue.huge {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 40px;
  font-weight: 700;
  text-align: left;
}

.titling.blue.subtitle {
  font-size: 20px;
  font-weight: 700;
  text-align: left;
}

.titling.blue.links-bolded:hover {
  font-weight: 700;
}

.titling.sub {
  color: #414b56;
  font-size: 12px;
  text-decoration: none;
}

.titling.sub:hover {
  color: #00a4e4;
}

.titling.sub.portrait {
  color: #fff;
}

.titling.white {
  margin-top: 30px;
  padding-top: 25px;
  padding-bottom: 0px;
  border-top: 1px solid #bdc1c3;
  font-family: Georgia, Times, 'Times New Roman', serif;
  color: #fff;
  font-size: 40px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.titling.white.small {
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 20px;
  border-bottom: 1px solid #bdc1c3;
  border-top-style: none;
  border-top-width: 0px;
  font-size: 20px;
  text-transform: none;
}

.header-container {
  text-align: center;
}

.link-container.footer {
  margin-top: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 3px solid #00a2e1;
  border-bottom: 1px solid #d2d6d9;
}

.slider.home {
  height: 460px;
  box-shadow: 0 0 5px 1px grey;
}

.section.content {
  padding-top: 24px;
  padding-bottom: 0px;
}

.section.welcome.content {
  padding: 24px;
}

.section.footer {
  padding-bottom: 40px;
  font-family: Verdana, Geneva, sans-serif;
}

.section.marginalized {
  padding-top: 0px;
  padding-bottom: 30px;
}

.section.maps {
  margin-bottom: 50px;
}

.lesson-type-block {
  width: 95%;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 10px;
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, .1);
  text-align: center;
  text-decoration: none;
}

.lesson-type-block:hover {
  background-color: hsla(0, 0%, 50%, .1);
}

.lesson-type-title {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
}

.lesson-type-title.titling.blue {
  padding-top: 24px;
  padding-bottom: 24px;
  font-size: 20px;
  text-align: center;
}

.lesson-type-title.large {
  margin-top: 12px;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 30px;
}

.lesson-type-text {
  font-family: Verdana, Geneva, sans-serif;
  color: #414b56;
  font-size: 13px;
  font-weight: 400;
}

.lesson-type-text.footer {
  padding-top: 0px;
  color: #414b56;
  text-align: center;
}

.paragraph {
  margin-top: 0px;
  margin-bottom: 15px;
  padding-left: 0px;
  font-family: Verdana, Geneva, sans-serif;
  color: #414b56;
  font-size: 13px;
  font-weight: 400;
  text-align: justify;
}

.paragraph.white {
  padding-top: 12px;
  padding-right: 30px;
  padding-left: 30px;
  font-family: Georgia, Times, 'Times New Roman', serif;
  color: #fff;
  text-align: center;
}

.paragraph._1 {
  margin-top: 18px;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 16px;
  line-height: 21px;
  text-align: justify;
}

.paragraph.right-side {
  padding-left: 20px;
}

.paragraph._2 {
  padding-left: 30px;
}

.paragraph.blue {
  color: #00a4e4;
}

.paragraph.centered {
  font-size: 15px;
  text-align: center;
}

.paragraph.partial-left {
  width: 35%;
}

.paragraph.left {
  padding-right: 20px;
}

.text-link.footer {
  padding-right: 20px;
  padding-left: 20px;
  font-family: Verdana, Geneva, sans-serif;
  color: #414b56;
  font-size: 13px;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.text-link.footer:hover {
  color: #00a4e4;
}

.form-block.footer {
  float: right;
  text-align: center;
}

.contact-block.icons {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  text-align: center;
  text-decoration: none;
}

.contact-block.icons:hover {
  opacity: 0.5;
  color: #00a4e4;
}

.footer-container.links {
  text-align: center;
}

.contact-content-row {
  padding-top: 20px;
  padding-bottom: 20px;
}

.links.subpage {
  color: #000;
  text-decoration: none;
}

.nav-menu {
  width: 100%;
  margin-top: 10px;
}

.navbar {
  background-color: transparent;
}

.link.menu {
  display: inline-block;
  padding-right: 30px;
  padding-left: 30px;
  font-family: Georgia, Times, 'Times New Roman', serif;
  color: #414b56;
  font-size: 13px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
}

.link.menu:hover {
  color: #00a4e4;
}

.link.menu.inmenu {
  display: block;
  padding-right: 0px;
  padding-left: 0px;
  font-size: 12px;
  line-height: 28px;
  text-align: center;
  text-transform: none;
}

.link.menu.blue {
  color: #00a4e4;
  font-weight: 700;
}

.link.menu.gift {
  padding-right: 0px;
  padding-left: 0px;
}

.link.menu.contact {
  margin-left: -63px;
  padding-left: 0px;
}

.link.small {
  color: #00a4e4;
  text-decoration: none;
}

.dropdown-block {
  position: absolute;
  width: 675px;
  background-color: #fff;
  box-shadow: 0 0 20px 1px #000;
}

.dropdown-block._2 {
  width: 420px;
}

.dropdown-block._3 {
  width: 125px;
}

.dropdown-col {
  display: block;
  width: 100%;
}

.menu-dropdown {
  position: relative;
}

.dropdown-list-wrapper {
  position: relative;
}

.dropdown-list-wrapper-2 {
  position: relative;
}

.dropdown-list-wrapper-2.w--open {
  position: absolute;
}

.slide._1 {
  background-image: url('../images/Banner07.png');
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide._2 {
  background-image: url('../images/brighterBanner01.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.form-button {
  border-radius: 5px;
}

.form-button:hover {
  background-color: #2777bd;
}

.form-field {
  display: block;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 5px;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.form-input-block {
  display: block;
  text-align: center;
}

.social-center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 115px;
  text-align: center;
}

.social-link-block {
  opacity: 0.25;
}

.social-link-block:hover {
  opacity: 1;
}

.download-link {
  color: #00374d;
  text-decoration: none;
  text-transform: uppercase;
}

.download-link:hover {
  color: #019edb;
}

.visit-text-block {
  width: 100%;
  height: 283px;
  padding: 20px;
  background-color: #00a4e4;
}

.visit-banner-col {
  padding-right: 0px;
  padding-left: 0px;
}

.visit-banner-content-block {
  height: 100%;
  border: 1px solid #fff;
}

.visit-cta-section {
  padding: 24px;
  border-top: 1px solid #00a4e4;
}

.visit-cta-container {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-size: 16px;
  text-align: center;
}

.visit-cta-header-block {
  display: inline-block;
  margin-bottom: 10px;
  padding-right: 15px;
  padding-left: 15px;
  background-color: #fff;
}

.visit-text.largest {
  padding-top: 10px;
  font-size: 36px;
  line-height: 35px;
}

.visit-text.verd {
  margin-top: 12px;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
}

.lesson-row {
  margin-right: 0px;
  margin-left: 0px;
}

.lesson-col {
  padding-right: 0px;
  padding-left: 0px;
  text-align: center;
}

.title.georgia {
  font-family: Georgia, Times, 'Times New Roman', serif;
}

.title.georgia.large {
  padding-top: 24px;
  padding-bottom: 24px;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.title.georgia.large.blue {
  color: #00a4e4;
  font-size: 38px;
  line-height: 43px;
}

.title.georgia.large._2 {
  padding-top: 40px;
  padding-bottom: 40px;
  border-top: 1px solid #d2d6d9;
}

.title.georgia.blue {
  padding-top: 15px;
  padding-bottom: 15px;
  color: #00a4e4;
  font-size: 30px;
  text-align: center;
}

.title.subtitle {
  padding-top: 0px;
  padding-bottom: 20px;
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.title.subtitle.blue {
  padding-bottom: 0px;
  color: #00a4e4;
  text-align: left;
}

.title.subtitle.blue.centered {
  padding-top: 5px;
  padding-bottom: 15px;
  text-align: center;
}

.title.subtitle.left {
  text-align: left;
}

.title.subtitle.left.verdana {
  padding-bottom: 12px;
  font-weight: 400;
}

.title.subtitle.verdana {
  font-family: Verdana, Geneva, sans-serif;
  line-height: 22px;
  font-weight: 400;
  text-align: center;
}

.title.subtitle.verdana.left {
  font-size: 20px;
  line-height: 25px;
  text-align: left;
}

.title.subtitle.verdana.left.partial-left-top-border {
  display: inline-block;
  padding-top: 16px;
  padding-bottom: 16px;
  border-top: 1px solid #bdc1c3;
}

.title.subtitle.verdana.blue.left {
  padding-top: 12px;
  border-top: 1px solid #bdc1c3;
}

.content-block {
  margin-top: 10px;
}

.content-block.left-side-mark {
  border-left: 2px solid #bdc1c3;
}

.content-block.right-side {
  padding-left: 24px;
  border-left: 1px solid #bdc1c3;
}

.content-block.left-border {
  margin-top: 0px;
  padding-left: 30px;
  border-left: 1px solid #bdc1c3;
}

.menu-dropdown-row {
  margin-right: 0px;
  margin-left: 0px;
}

.menu-dropdown-col {
  padding-right: 0px;
  padding-left: 0px;
}

.content-col {
  text-align: center;
}

.content-col.right {
  padding-left: 0px;
}

.nav-map {
  display: inline-block;
  float: left;
  font-family: Verdana, Geneva, sans-serif;
}

.nav-map.subnav {
  float: right;
}

.text.blue {
  color: #00a4e4;
}

.text.descrip {
  color: #334;
  text-align: center;
}

.portrait {
  width: 100%;
}

.portrait:hover {
  opacity: 0.25;
}

.portrait-row {
  margin-right: 0px;
  margin-left: 0px;
}

.portrait-col {
  padding: 10px;
  text-align: center;
}

.portrait-link-block {
  position: relative;
  width: 100%;
  height: 400px;
  padding: 0px;
  background-image: url('../images/charles_jones-225x300.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  text-decoration: none;
}

.portrait-link-block.linda {
  background-image: url('../images/Linda-225x300.png');
}

.portrait-link-block.chase {
  background-image: url('../images/chase_abell-225x300.jpg');
}

.text-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 200px 0px 0px;
  background-color: rgba(0, 0, 0, .8);
  opacity: 0;
  -webkit-transition: opacity 450ms ease;
  transition: opacity 450ms ease;
  font-family: Georgia, Times, 'Times New Roman', serif;
  color: #fff;
  font-size: 26px;
  font-weight: 700;
}

.text-wrapper:hover {
  opacity: 0.8;
}

.content-text {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 16px;
  text-align: justify;
}

.content-text.dark {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #bdc1c3;
  color: #414b56;
  font-size: 17px;
  line-height: 21px;
  font-weight: 400;
}

.content-text.dark._2 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.content-text.blue {
  padding-top: 24px;
  padding-bottom: 24px;
  color: #00a4e4;
  font-size: 17px;
  line-height: 21px;
}

.content-text.blue.bordered {
  margin-top: 15px;
  margin-bottom: 15px;
  border-top: 1px solid #bdc1c3;
  border-bottom: 1px solid #bdc1c3;
}

.content-text.smaller {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
}

.content-title {
  font-size: 20px;
}

.content-title.verdana {
  font-family: Verdana, Geneva, sans-serif;
}

.content-title.verdana.black {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #414b56;
}

.content-title.verdana.black._2 {
  margin-bottom: -10px;
  padding-top: 15px;
  padding-bottom: 0px;
}

.content-title.verdana.black.top-border {
  display: inline-block;
  border-top: 1px solid #bdc1c3;
}

.content-title.centered {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
}

.dropdown-list-wrapper-3 {
  position: relative;
}

.dropdown-list-wrapper-3.w--open {
  position: relative;
}

.nav-menu-row._1st-half {
  width: 40%;
  margin-right: 0px;
  margin-left: 0px;
  float: left;
}

.nav-menu-row._2nd-half {
  width: 60%;
  margin-right: 0px;
  margin-left: 0px;
  float: right;
}

.menu-col {
  padding-right: 0px;
  padding-left: 0px;
}

.form-wrapper {
  margin-top: 30px;
  padding-right: 200px;
  padding-left: 200px;
  text-align: center;
}

.success-message {
  background-color: transparent;
}

.error-message {
  background-color: transparent;
}

.faq-wrapper {
  margin-top: 50px;
  margin-bottom: 50px;
}

.spacer {
  height: 50px;
}

.gift-content-wrapper {
  border: 1px solid #d2d6d9;
  font-family: Verdana, Geneva, sans-serif;
  text-decoration: none;
}

.gift-content-wrapper:hover {
  background-color: hsla(206, 8%, 84%, .32);
}

.gift-content-block._1 {
  height: 20%;
  padding-top: 0px;
  padding-bottom: 0px;
  border-bottom: 1px solid #d2d6d9;
}

.gift-content-block._2 {
  height: 80%;
  padding: 24px;
}

.list-item.content-based {
  padding-top: 5px;
  padding-bottom: 5px;
}

.con {
  display: none;
}

.back-link {
  float: right;
  font-family: Verdana, Geneva, sans-serif;
  color: #00a4e4;
  font-size: 16px;
  letter-spacing: 1px;
  text-decoration: none;
}

.list-format {
  text-align: center;
}

.livetour-container {
  text-align: center;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

html.w-mod-js *[data-ix="hidden-mobile-menu"] {
  display: none;
  -webkit-transform: translate(-100%, 0px);
  -ms-transform: translate(-100%, 0px);
  transform: translate(-100%, 0px);
}

@media (max-width: 991px) {
  .titling.blue.large {
    line-height: 25px;
  }
  .titling.blue.huge {
    text-align: center;
  }
  .titling.blue.subtitle {
    text-align: center;
  }
  .section {
    padding: 24px;
    text-align: center;
  }
  .section.footer {
    border-top: 3px solid #00a2e1;
  }
  .section.maps {
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 24px;
  }
  .paragraph {
    font-size: 12px;
  }
  .paragraph.white {
    font-size: 17px;
    line-height: 23px;
  }
  .paragraph._1 {
    font-size: 14px;
  }
  .paragraph.partial-left {
    width: 100%;
  }
  .text-link.footer {
    font-size: 16px;
  }
  .form-block.footer {
    width: 100%;
  }
  .contact-block.icons {
    padding-right: 0px;
    padding-left: 0px;
  }
  .navbar-container.mobile {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-top: 24px;
    padding-bottom: 24px;
    text-align: center;
  }
  .link.menu {
    padding-right: 15px;
    padding-left: 15px;
  }
  .slide._1 {
    background-position: 100% 50%;
    background-size: cover;
  }
  .slide._2 {
    background-position: 100% 50%;
    background-size: cover;
  }
  .vid-block {
    padding-top: 10px;
  }
  .download-link {
    color: #00a4e4;
    font-size: 14px;
    font-style: italic;
    text-transform: capitalize;
  }
  .logo-link {
    position: relative;
    left: 0px;
    top: 8px;
    right: 0px;
    text-align: center;
  }
  .logo-link.mobile {
    left: 140px;
    top: 12px;
    right: 0px;
  }
  .logo-link.mobile.w--current {
    padding-top: 0px;
    padding-left: 0px;
  }
  .title.georgia.large.blue {
    font-size: 30px;
    line-height: 30px;
  }
  .title.georgia.blue.large {
    line-height: 35px;
  }
  .title.subtitle.verdana.left.partial-left-top-border {
    display: block;
    text-align: center;
  }
  .content-row {
    margin-right: 0px;
    margin-left: 0px;
  }
  .content-col {
    padding-top: 24px;
  }
  .content-col.right {
    padding-right: 0px;
    padding-left: 0px;
  }
  .navmap-container {
    text-align: center;
  }
  .portrait-link-block.chase {
    background-position: 60% 50%;
  }
  .content-title.centered {
    text-transform: uppercase;
  }
  .form-wrapper {
    padding-right: 100px;
    padding-left: 100px;
  }
  .dropdown-link {
    border: 1px solid #000;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
  }
  .dropdown-link:active {
    background-color: #00a4e4;
    color: #fff;
  }
  .mobile-navbar {
    background-color: transparent;
  }
  .mobile-navbar-button {
    float: none;
    border: 2px none #000;
    border-radius: 5px;
    font-size: 14px;
  }
  .mobile-navbar-button.w--open {
    background-color: #00a4e4;
  }
  .dropdown-menu.mobile {
    padding-bottom: 24px;
    background-color: #fff;
  }
  .list-item.content-based {
    padding-top: 24px;
    padding-bottom: 24px;
    text-align: center;
  }
  .day-title {
    padding-bottom: 10px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    color: #00a4e4;
    font-size: 24px;
  }
  .event-title {
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 21px;
    line-height: 30px;
  }
  .event-title.pgraph {
    margin-top: 10px;
    text-align: justify;
  }
  .with-word-style {
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
  }
  .with-word-style.ital {
    color: #00a4e4;
    font-size: 14px;
    line-height: 25px;
    font-style: italic;
  }
  .instructor-title {
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 21px;
    line-height: 25px;
  }
  .time-title {
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 19px;
    line-height: 25px;
  }
  .calendar-div {
    padding: 18px 12px 12px;
  }
  .back-link {
    float: right;
    color: #00a4e4;
    text-decoration: none;
  }
  .download-button {
    display: block;
    text-align: center;
  }
  .button-container {
    display: none;
  }
  .col {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0px;
    padding-left: 0px;
  }
  .right-menu-div {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .close-button {
    font-family: Verdana, Geneva, sans-serif;
    color: #414b56;
    font-size: 20px;
    text-decoration: none;
  }
  .mobile-menu-div {
    box-shadow: 0 1px 5px 1px grey;
  }
  .mobile-nav-col {
    padding: 24px 0px;
    text-align: center;
  }
  .mobile-menu-link {
    font-family: Verdana, Geneva, sans-serif;
    color: #414b56;
    text-decoration: none;
  }
  .mobile-cart-link {
    font-family: Verdana, Geneva, sans-serif;
    color: #414b56;
    text-decoration: none;
  }
  .mobile-nav-dropdown {
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    z-index: 100;
    display: none;
    height: 100vh;
    background-color: #fff;
    text-align: center;
  }
  .mobile-menu-link-div {
    display: block;
    padding-top: 24px;
  }
  .mobile-nav-link {
    display: inline-block;
    width: 33.33%;
    padding: 12px;
    font-family: Verdana, Geneva, sans-serif;
    color: #414b56;
    font-size: 16px;
    text-align: center;
    letter-spacing: 2.5px;
    text-decoration: none;
  }
  .mobile-page-header {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 12px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    color: #00a4e4;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
  }
  .mobile-page-header.sub {
    padding-top: 12px;
    color: #00a4e4;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 2px;
  }
  .mobile-content-style {
    font-family: Verdana, Geneva, sans-serif;
    color: #414b56;
    font-size: 16px;
    line-height: 25px;
    font-style: normal;
    text-align: justify;
  }
  .mobile-content-style.centered {
    text-align: center;
  }
  .mobile-content-style.disclaimer {
    font-size: 12px;
    text-align: center;
  }
  .mobile-content-style.table-entry {
    text-align: center;
  }
  .intext-link {
    color: #00a4e4;
    text-decoration: none;
  }
  .banner-img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 12px;
  }
  .table-placeholder {
    height: 24px;
  }
  .price-table {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

@media (max-width: 767px) {
  .header-title.left {
    float: none;
  }
  .header-title.right {
    padding-right: 15px;
    float: none;
  }
  .header-title.sub {
    padding-right: 0px;
    text-align: center;
  }
  .header-section.top {
    padding-left: 15px;
  }
  .slider.home {
    display: none;
  }
  .section.content {
    padding-bottom: 30px;
  }
  .section.welcome.content {
    padding-bottom: 0px;
  }
  .lesson-type-block {
    text-align: center;
  }
  .lesson-type-title.large {
    margin-top: 15px;
    padding-right: 18px;
    padding-left: 18px;
    line-height: 30px;
    text-align: center;
  }
  .lesson-type-text.footer {
    padding-top: 0px;
  }
  .paragraph {
    padding-right: 30px;
    padding-left: 30px;
    text-align: center;
  }
  .paragraph.white {
    line-height: 25px;
  }
  .paragraph._1 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .paragraph.right-side {
    text-align: center;
  }
  .paragraph.timendate {
    text-align: center;
  }
  .text-link.footer {
    display: block;
    padding: 18px;
    line-height: 23px;
  }
  .form-block.footer {
    width: 100%;
  }
  .social-media-block {
    display: block;
  }
  .navbar-container.mobile {
    position: relative;
    margin-right: 0px;
    margin-left: 0px;
  }
  .link.menu {
    display: block;
    text-align: center;
  }
  .dropdown-block {
    width: auto;
  }
  .dropdown-block._2 {
    width: auto;
  }
  .vid-block {
    text-align: center;
  }
  .menu-button {
    float: none;
  }
  .social-center-block {
    padding-top: 30px;
  }
  .logo-link {
    top: 0px;
    padding-top: 14px;
  }
  .logo-link.mobile {
    left: 10px;
  }
  .logo-link.mobile.w--current {
    width: 50vw;
  }
  .visit-cta-section {
    padding-top: 0px;
  }
  .title.georgia.large.blue {
    padding-right: 1px;
    padding-left: 1px;
  }
  .title.subtitle.blue {
    margin-bottom: 15px;
    text-align: center;
  }
  .title.subtitle.left {
    text-align: center;
  }
  .title.subtitle.verdana {
    text-align: center;
  }
  .content-block.left-side-mark {
    border-left: 1px none #000;
  }
  .content-block.right-side {
    padding-left: 0px;
    border-left: 1px none #000;
  }
  .nav-map {
    float: none;
    text-align: center;
  }
  .nav-map.subnav {
    display: block;
    float: none;
  }
  .navmap-container {
    display: block;
  }
  .story-container {
    padding-right: 24px;
    padding-left: 24px;
  }
  .text-wrapper {
    line-height: 23px;
  }
  .content-text.blue.bordered {
    padding-right: 20px;
    padding-left: 20px;
  }
  .content-title.verdana.black {
    text-align: center;
  }
  .content-title.centered {
    text-transform: uppercase;
  }
  .mobile-navbar-button {
    overflow: hidden;
    border-style: none;
  }
  .list-item.content-based {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .mobile-image {
    display: block;
    margin-top: 24px;
    margin-right: auto;
    margin-left: auto;
  }
  .container {
    text-align: center;
  }
  .download-button {
    margin-right: 140px;
    margin-bottom: 24px;
    margin-left: 140px;
    border-radius: 10px;
    font-family: Verdana, Geneva, sans-serif;
    text-align: center;
  }
  .menu-text {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
  }
  .col {
    padding-right: 0px;
    padding-left: 0px;
  }
  .right-menu-div {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .mobile-nav-dropdown {
    position: fixed;
    display: none;
  }
  .mobile-menu-link-div {
    padding-top: 0px;
  }
  .mobile-nav-link {
    font-size: 15px;
  }
  .mobile-page-header {
    font-size: 28px;
  }
  .mobile-page-header.sub {
    font-size: 22px;
    line-height: 30px;
  }
  .mobile-content-style {
    line-height: 25px;
  }
  .mobile-content-style.table-entry {
    font-size: 15px;
  }
  .banner-img {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .banner-img.vid {
    margin-bottom: 12px;
  }
}

@media (max-width: 479px) {
  .header-title.left {
    float: none;
  }
  .header-title.right {
    float: none;
    font-size: 10px;
  }
  .header-title.sub {
    text-align: center;
  }
  .titling.blue.large {
    padding-right: 2px;
    padding-left: 2px;
  }
  .titling.blue.large.no-top-pad.contact {
    padding-top: 0px;
  }
  .titling.blue.huge {
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
    font-size: 30px;
    line-height: 39px;
  }
  .titling.white {
    padding-top: 12px;
  }
  .titling.white.small {
    padding-bottom: 12px;
  }
  .slider.home {
    display: none;
  }
  .section.content {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .section.marginalized._2 {
    padding-bottom: 0px;
    text-align: center;
  }
  .lesson-type-block {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .lesson-type-title {
    color: #414b56;
  }
  .lesson-type-title.large {
    margin-top: 0px;
    padding-right: 20px;
    padding-left: 20px;
    color: #414b56;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
  }
  .paragraph {
    margin-top: 0px;
  }
  .paragraph.white {
    margin-bottom: 30px;
    padding-right: 12px;
    padding-left: 12px;
    line-height: 20px;
  }
  .paragraph._1 {
    margin-top: 12px;
    padding-right: 0px;
    padding-left: 0px;
    font-size: 16px;
    line-height: 24px;
  }
  .paragraph.right-side {
    padding-right: 20px;
    padding-left: 20px;
  }
  .paragraph.timendate {
    font-size: 20px;
    line-height: 25px;
    text-align: center;
  }
  .text-link.footer {
    padding-right: 12px;
    padding-left: 12px;
  }
  .social-media-block {
    display: block;
  }
  .navbar-container.mobile {
    display: block;
    padding: 0px;
    box-shadow: 0 3px 15px 1px gray;
  }
  .vid-block {
    display: block;
  }
  .lightbox {
    display: block;
  }
  .social-center-block {
    padding-top: 30px;
  }
  .download-link {
    color: #00a4e4;
    text-transform: capitalize;
  }
  .logo-link {
    top: 23px;
    padding-top: 0px;
  }
  .logo-link.w--current {
    position: relative;
    top: 22px;
    padding-top: 0px;
  }
  .logo-link.mobile {
    left: 0px;
    top: 0px;
    padding-top: 0px;
    padding-left: 0px;
  }
  .logo-link.mobile.w--current {
    position: relative;
    left: 0px;
    top: -2px;
    right: 0px;
    float: none;
  }
  .visit-text-block {
    height: 300px;
  }
  .visit-text.verd {
    padding-right: 0px;
    padding-left: 0px;
  }
  .title.georgia.large.blue {
    padding-right: 30px;
    padding-left: 30px;
  }
  .title.georgia.blue.large {
    font-size: 22px;
  }
  .title.subtitle {
    padding-right: 30px;
    padding-left: 30px;
  }
  .title.subtitle.verdana {
    font-size: 22px;
  }
  .title.subtitle.verdana.left {
    font-size: 18px;
    text-align: center;
  }
  .content-block {
    text-align: center;
  }
  .content-block.left-side-mark {
    border-left: 1px none #000;
  }
  .content-block.left-border {
    padding-left: 0px;
    border-left: 1px none #000;
  }
  .portrait {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
  }
  .content-text.dark {
    padding-right: 12px;
    padding-left: 12px;
    border-bottom-style: none;
  }
  .content-text.blue {
    padding: 0px 12px;
    color: #414b56;
  }
  .content-text.blue.bordered {
    border-top-style: none;
    border-bottom-style: none;
  }
  .content-text.smaller {
    padding-right: 12px;
    padding-left: 12px;
    color: #414b56;
    font-size: 17px;
    text-align: left;
  }
  .content-text.smaller.achievements {
    padding-right: 22px;
    padding-left: 22px;
  }
  .content-title.verdana.black._2 {
    margin-bottom: 12px;
    padding-top: 0px;
  }
  .content-title.centered {
    padding-right: 0px;
    padding-left: 0px;
    text-transform: uppercase;
  }
  .form-wrapper {
    padding-right: 0px;
    padding-left: 0px;
  }
  .dropdown-link {
    position: relative;
    display: block;
    padding-top: 12px;
    padding-bottom: 12px;
    border-style: none;
  }
  .dropdown-link.w--current {
    display: block;
  }
  .mobile-navbar {
    z-index: 299;
  }
  .mobile-navbar-button {
    position: static;
    left: 0px;
    right: 0px;
    overflow: visible;
    margin-right: 0px;
    margin-left: 0px;
    padding: 0px;
    float: none;
    border-style: none;
    border-color: rgba(0, 0, 0, .7);
    font-size: 14px;
  }
  .mobile-navbar-button.w--open {
    border-radius: 10px;
  }
  .dropdown-menu.mobile {
    position: static;
    left: 0px;
    top: 0px;
    right: 0px;
    z-index: 300;
    height: 100vh;
    padding-bottom: 0px;
  }
  .container {
    text-align: center;
  }
  .logo {
    opacity: 0.7;
  }
  .day-title {
    padding-bottom: 10px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    color: #00a4e4;
    font-size: 24px;
  }
  .event-title {
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 21px;
    line-height: 30px;
  }
  .with-word-style {
    padding-top: 6px;
    padding-bottom: 0px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
  }
  .with-word-style.ital {
    color: #00a4e4;
    font-size: 14px;
    font-style: italic;
  }
  .instructor-title {
    padding-top: 6px;
    padding-bottom: 6px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 21px;
    line-height: 25px;
  }
  .time-title {
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 19px;
    line-height: 25px;
  }
  .calendar-div {
    padding: 18px 12px 12px;
    border-bottom: 1px solid #eaeaea;
    text-align: center;
  }
  .back-link {
    float: right;
    font-family: Verdana, Geneva, sans-serif;
    color: #00a4e4;
    text-decoration: none;
  }
  .download-button {
    display: inline;
    margin-right: 0px;
    margin-left: 0px;
    border-radius: 0px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 15px;
    text-align: center;
  }
  .button-container {
    margin-top: 24px;
    text-align: center;
  }
  .menu-text {
    display: inline-block;
    padding: 24px 10px;
    color: #414b56;
    font-size: 12px;
  }
  .col {
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .right-menu-div {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .close-button {
    position: relative;
    left: 0px;
    top: 2px;
    right: 0px;
    font-family: Verdana, Geneva, sans-serif;
    color: #000;
    font-size: 16px;
    text-decoration: none;
  }
  .mobile-menu-div {
    position: static;
    z-index: 50;
    box-shadow: 0 1px 5px 1px grey;
  }
  .mobile-nav-col {
    padding: 24px 0px;
    text-align: center;
  }
  .mobile-nav-col.dropdown {
    left: 0px;
    top: -3px;
    right: 0px;
  }
  .mobile-menu-link {
    color: #414b56;
    text-decoration: none;
  }
  .mobile-cart-link {
    color: #414b56;
    text-decoration: none;
  }
  .mobile-nav-dropdown {
    position: fixed;
    top: 0px;
    z-index: 1000;
    display: none;
    height: 100vh;
    background-color: #fff;
    opacity: 1;
  }
  .dropdown-banner-link {
    padding-right: 24px;
    padding-left: 24px;
  }
  .mobile-menu-link-div {
    position: relative;
    display: inline-block;
    padding: 0px 24px 24px;
    text-align: center;
  }
  .mobile-nav-link {
    display: inline-block;
    width: auto;
    padding: 12px;
    font-family: Verdana, Geneva, sans-serif;
    color: #414b56;
    font-size: 14px;
    text-align: center;
    letter-spacing: 2.5px;
    text-decoration: none;
  }
  .mobile-nav-link:active {
    font-style: italic;
  }
  .mobile-page-header {
    padding-top: 0px;
    font-size: 23px;
  }
  .mobile-page-header.sub {
    padding-top: 12px;
    color: #00a4e4;
    line-height: 30px;
    font-weight: 400;
    letter-spacing: 2px;
  }
  .mobile-content-style {
    font-size: 14px;
    line-height: 20px;
    text-align: left;
  }
  .mobile-content-style.centered {
    font-size: 17px;
    text-align: left;
  }
  .mobile-content-style.disclaimer {
    font-size: 12px;
  }
  .mobile-content-style.table-entry {
    font-size: 14px;
  }
  .price-listing {
    font-size: 17px;
  }
  .banner-img {
    display: block;
    width: auto;
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 0px;
    box-shadow: 0 0 6px 1px grey;
  }
}

